<nav class="navbar navbar-expand-sm bg-light ">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button (click)="OnGetAllProduct()" class="btn btn-sm btn-outline-info mx-lg-2 ">All</button>
    </li>
    <li class="nav-item">
      <button (click)="OnGetSelectedProduct()" class="btn btn-sm btn-outline-info mx-lg-2">Selected</button>
    </li>
    <li class="nav-item">
      <button (click)="OnGetAvailableProduct()" class="btn btn-sm btn-outline-info mx-lg-2">Available</button>
    </li>
    <li class="nav-item">
      <button (click)="OnNewProduct()" class="btn btn-sm btn-outline-info mx-lg-2">Add</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav m-lg-auto">
    <li>
      <form class="d-flex" #f="ngForm" (ngSubmit)="OnSearch(f.value)">
        <input class="form-control me-2" type="text" name="keyword" ngModel >
        <button class="btn btn-sm btn-outline-success" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>
